$background-color: #221f48;
$primary-color: #bdff00;
$secondary-color: rgb(160, 209, 27);

$font-family-logo: "Rochester", cursive;

$inactive-navbar-link-color: #cccccc;
$active-navbar-link-color: $primary-color;

// Variable Declaration - Fonts
$font-family: "Poppins", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// zIndices

$navBarUlZIndex: 200;
$introTextZIndex: 100;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    transition: padding 0.5s;

    &.stick {
        width: calc(100% - 4rem);
        padding: 2rem;
        background-color: #221f48;
        position: fixed;
        top: 0;
        height: auto;
        z-index: 1000;

        &.show {
            transition: transform 0.8s, opacity 0.5s;
            opacity: 1;
            transform: translateY(0%);
        }

        &.total-hide {
            display: none;
        }

        &.hide {
            transition: transform 0.8s, opacity 0.5s;
            opacity: 0;
            transform: translateY(-100%);
        }
    }

    .logo-title {
        h1 {
            color: $primary-color;
            font-family: $font-family-logo;
            font-weight: $font-weight-regular;
            font-size: 2rem;
        }
    }

    .navbar-link-container {
        display: flex;
        flex-direction: column;

        .option-button.hamburger {
            align-self: center;
            justify-self: flex-end;
        }

        ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            gap: 1.5rem;

            li {
                cursor: pointer;
                color: $inactive-navbar-link-color;
                width: fit-content;
                transition: all 0.5s;

                &.active {
                    color: $active-navbar-link-color;
                }

                &:hover {
                    color: $secondary-color;
                }

                &.hire-me {
                    color: $primary-color;
                    border: 2px solid white;
                    padding: 0.25rem 1rem;
                    border-radius: 5rem;

                    &:hover {
                        background-color: $primary-color;
                        color: $background-color;
                        border-color: $primary-color;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        position: relative;
        padding: 2rem;

        &.stick {
            width: calc(100% - 4rem);
        }
        .logo-title {
            h1 {
                font-size: 1.5rem;
                font-weight: $font-weight-light;
            }
        }

        .navbar-link-container {
            ul {
                font-size: 0.9rem;
                font-weight: $font-weight-light;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    header {
        padding: 1rem;

        &.stick {
            width: calc(100% - 2rem);
        }
        .logo-title {
            h1 {
                font-size: 1.25rem;
                font-weight: $font-weight-light;
            }
        }
        .navbar-link-container {
            ul {
            }
        }
    }
}

@media screen and (min-width: 641px) {
    header {
        .option-button {
            display: none;
        }
    }
}

@media screen and (max-width: 641px) {
    header {
        // position: relative;
        .option-button {
            display: flex;
        }

        & > .option-button.close {
            flex-grow: 1;
        }

        .navbar-link-container {
            position: relative;
            z-index: $navBarUlZIndex;
            background-color: $background-color;
            flex-direction: column;
            justify-content: space-around;

            &.expanded {
                .menu {
                    animation: expand_animation 0.5s;
                }
            }

            &.collapsed {
                .menu {
                    animation: collapse_animation 0.5s;
                }
            }

            &.hidden {
                display: none;
            }

            .menu {
                position: absolute;
                display: flex;
                flex-direction: column;
                right: 0;
                top: 1rem;
                overflow: hidden;
                border-radius: 0 0 20px 20px;

                .option-button {
                    align-self: flex-end;
                }

                ul {
                    justify-content: space-around;
                    background-color: #221f48e0;
                    flex-direction: column;
                    padding: 1rem;

                    & > li {
                        padding-left: 5rem;
                        padding-right: 5rem;
                    }
                }
            }
        }
    }
}

@keyframes expand_animation {
    0% {
        transform: translateY(-50%) scaleY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scaleY(1);
        opacity: 1;
    }
}

@keyframes collapse_animation {
    0% {
        transform: translateY(0) scaleY(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-50%) scaleY(0);
        opacity: 0;
    }
}
