$background-color: #221f48;
$primary-color: #bdff00;
$secondary-color: rgb(160, 209, 27);

$font-family-logo: "Rochester", cursive;

$inactive-navbar-link-color: #cccccc;
$active-navbar-link-color: $primary-color;

// Variable Declaration - Fonts
$font-family: "Poppins", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// zIndices

$navBarUlZIndex: 200;
$introTextZIndex: 100;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    // background-color: blue;

    @media screen and (max-width: 768px) {
        padding: 2rem;
    }

    @media screen and (max-width: 320px) {
        padding: 1rem 1rem;
    }

    .option-button {
        @media screen and (min-width: 641px) {
            display: none;
        }

        @media screen and (max-width: 641px) {
            display: flex;
        }
    }
    h1 {
        color: $primary-color;
        font-family: $font-family-logo;
        font-weight: $font-weight-regular;
        font-size: 2rem;

        @media screen and (max-width: 768px) {
            font-size: 1.5rem;
            font-weight: $font-weight-light;
        }

        @media screen and (max-width: 320px) {
            font-size: 1.25rem;
            font-weight: $font-weight-light;
        }
    }

    .navbar-link-container {
        display: flex;
        flex-direction: column;
        .option-button.hamburger {
            align-self: center;
            justify-self: flex-end;
        }
        ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            gap: 1.5rem;

            @media screen and (max-width: 768px) {
                font-size: 0.9rem;
                font-weight: $font-weight-light;
            }

            li {
                cursor: pointer;
                color: $inactive-navbar-link-color;
                width: fit-content;

                &.active {
                    color: $active-navbar-link-color;
                    font-weight: bold;
                }

                &:hover {
                    color: $secondary-color;
                }

                &.hire-me {
                    color: $primary-color;
                    border: 2px solid white;
                    padding: 0.25rem 1rem;
                    border-radius: 5rem;

                    &:hover {
                        background-color: $primary-color;
                        color: $background-color;
                        border-color: $primary-color;
                    }
                }
            }
        }
        @media screen and (max-width: 641px) {
            padding: 1.5rem;
            z-index: $navBarUlZIndex;
            background-color: $background-color;
            position: fixed;
            top: 0;
            left: 0;
            flex-direction: column;
            justify-content: space-around;
            width: 100vw;
            height: 100vh;

            .option-button {
                display: flex;
            }
            ul {
                justify-content: space-around;
                flex-direction: column;
                height: 100%;
            }

            &.collapsed {
                display: none;
            }
        }
    }
}
