header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  header {
    padding: 2rem;
  }
}

@media screen and (max-width: 320px) {
  header {
    padding: 1rem 1rem;
  }
}

@media screen and (min-width: 641px) {
  header .option-button {
    display: none;
  }
}

@media screen and (max-width: 641px) {
  header .option-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header h1 {
  color: #bdff00;
  font-family: "Rochester", cursive;
  font-weight: 400;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 320px) {
  header h1 {
    font-size: 1.25rem;
    font-weight: 300;
  }
}

header .navbar-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .navbar-link-container .option-button.hamburger {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
}

header .navbar-link-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  header .navbar-link-container ul {
    font-size: 0.9rem;
    font-weight: 300;
  }
}

header .navbar-link-container ul li {
  cursor: pointer;
  color: #cccccc;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header .navbar-link-container ul li.active {
  color: #bdff00;
  font-weight: 700;
}

header .navbar-link-container ul li:hover {
  color: #a0d11b;
}

header .navbar-link-container ul li.hire-me {
  color: #bdff00;
  border: 2px solid white;
  padding: 0.25rem 1rem;
  border-radius: 5rem;
}

header .navbar-link-container ul li.hire-me:hover {
  background-color: #bdff00;
  color: #221f48;
  border-color: #bdff00;
}

@media screen and (max-width: 641px) {
  header .navbar-link-container {
    padding: 1.5rem;
    z-index: 200;
    background-color: #221f48;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100vw;
    height: 100vh;
  }
  header .navbar-link-container .option-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar-link-container ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  header .navbar-link-container.collapsed {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */