// Variable Declaration - Colors
$background-color: #221f48;
$primary-color: #bdff00;

$design-color: #faff00;
$mobile-dev-color: #00ff29;
$web-dev-color: #00ffe0;

$card-background: #2b2665;

// Variable Declaration - Fonts
$font-family: "Poppins", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
