// Variable Declaration - Colors
$background-color: #221f48;
$lighter-background-color: #2b247c;
$primary-color: #bdff00;

$design-color: #faff00;
$mobile-dev-color: #00ff29;
$web-dev-color: #00ffe0;

$card-background: #2b2665;

// Variable Declaration - Fonts
$font-family: "Poppins", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

#homeSection {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(
        180deg,
        $background-color 0%,
        $lighter-background-color 100%
    );

    .intro_text {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .hi {
            font-size: 2rem;

            @media screen and (max-width: 768px) {
                font-size: 1.5rem;
            }
        }

        .name {
            width: min-content;
            color: $primary-color;
            font-weight: $font-weight-bold;
            font-size: 7rem;

            @media screen and (max-width: 768px) {
                font-size: 4rem;
            }
        }

        .work {
            font-weight: $font-weight-medium;
            font-size: 1.5rem;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
                font-weight: $font-weight-light;
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    .introImg {
        width: 50%;
    }
}
