* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    transition: transform 0.25s;

    /* outline: 1px dotted rgb(0, 255, 55); */
}

html {
    /* scroll-behavior: smooth; */
}

a {
    color: inherit;
    text-decoration: none;
}
